body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.name{
    color: rgba(255, 68, 0, 0.658);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}